
body {
    margin: 0px;
    height: 700px;
}

#nav {
    background-color: green;
    padding: 10px;
    height: 25px;
}

#nav button {
    display: none;
}

#nav p {
    float: right;
    margin: auto;
}

#menu {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 10%;
}

#menu button {
    margin: auto;
}

#board .white {
    width: 25px;
    height: 25px;
    background-color: white;
}

#board .black {
    width: 25px;
    height: 25px;
    background-color: black;
}